.card {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background-color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
